@import "tailwindcss";

@font-face {
  font-family: Lango;
  src: url("/fonts/Lango_px_Bold.ttf");
}

@font-face {
  font-family: Rockwell;
  src: url("/fonts/rockwell.ttf");
}

@font-face {
  font-family: Helvetica;
  src: url("/fonts/Helvetica.ttf")
}

@theme {
  --font-lango: Lango, "sans-serif";
  --font-rockwell: Rockwell, "sans-serif";
  --font-helvetica: Helvetica, "sans-serif";
}